<nav class="navbar navbar-light navigation-custom">
  <div class="container-fluid">
    <a class="navbar-brand"><i class="fas fa-cocktail"></i> Dr. Drinx</a>
    <%= link_to "Back", cocktail_path(@cocktail), class: 'btn btn-outline-warning' %>
  </div>
</nav>
<div class="card-form">
  <h1><%= @cocktail.name %></h1>
  <h3>Add Ingredient:</h3>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add", class: 'btn btn-outline-warning' %>
  <% end %>
</div>
